@font-face {
    font-family: 'Fredoka';
    src: url('/Fredoka-VariableFont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.list {
    width: 50%;
}

.text {
    padding: 1rem;
}