@font-face {
    font-family: 'Fredoka';
    src: url('/Fredoka-VariableFont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.list {
    width: 50%;
}

.text {
    font-family: "Fredoka", sans-serif;
    color: black;
    padding: 1rem;
}