@font-face {
  font-family: 'Fredoka';
  src: url('/Fredoka-VariableFont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/wallpaper1.jpg'); /* Add your image path here */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: black;
    font-family: "Fredoka", sans-serif;
}

.homePage h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; /* This will center the text horizontally */
  width: 100%; /* Make sure the element takes the full width */
}

.homePage video {
    display: block;
    margin: 0 auto;
    align-items: center;

}

.designTitle {
    margin-bottom: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textDiv {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 150px;
}

.text {
    margin-left: 300px;
    margin-right: 300px;
}

.section {
  width: 80%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textInsert {
  margin-left: 200px;
  margin-right: 200px;
}

