@font-face {
  font-family: 'Fredoka';
  src: url('/Fredoka-VariableFont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: top; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
    background-color: white;
    font-family: "Fredoka", sans-serif;
    color: black;
}

.person {
    width: calc(30% - 20px); /* Set width to half of the container width with some margin */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.person h3 {
    color: black;
    align-items: center;
}

.peopleSection {
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center; /* Horizontally center the content */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Evenly distribute items along the main axis */
    justify-content: center;
    margin-top: -30px;

}

.aboutPage h1 {
    margin: 20px;
    align-items: center;
    justify-content: center;

}

.aboutPage h2 {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;

}



.imagediv {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    overflow: hidden;
}

.aboutPage img {
    max-width: 80%; /* Makes the image responsive */
    /*height: auto; /* Maintains aspect ratio */
    /*width: auto;*/
    max-height: 150px;
    margin-top: 20px; /* Optional margin for spacing */
}

.aboutPage p {
    align-items: center;
    justify-content: center;
    display: flex;

}

.developersTitle {
    margin-top: -30px;
}

.responsiveImage {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* or contain */
}